<div class="container">

    {% if not post %}
        <h1>The Author you are looking for does not exist!</h1>
    {% else %}
        <h2>{{ post.name  }}</h2>
        <h4>{{ post.Bio }}</h4>
            {% for recipe in recipes %}
        <ul>
            <li>
                <a href="/post/{{ post.id }}/">{{ recipe.title }}</a>
            </li>
        </ul>
            {% endfor %}
    {% endif %}
    <h3>My Favorite Recipes</h3>
    <ul>
            {%for r in favoriterecipes%}
    <li>
        <a href="/post/{{ r.id }}/">{{ r.title }}</a>
    </li>
    {%endfor%}
    </ul>
    <a href="/"><input type="button" value="homepage"></a>
</div>
