

<div class="container">
    <h1>Recipe {{ welcome_name }}!</h1>
    <h2>Am I authenticated? {{ request.user.is_authenticated }}</h2>

    <ul>
    {% for post in recipes %}
        <li>
        <a href="/post/{{ post.id }}/">{{ post.title }}</a>
        </li>
    {% endfor %}
    </ul>
    <a href="/newauthor/"><input
            class="AuthorForm"
           type="button"
            value="add Author">
    </a>
    <a href="/newrecipe/"><input
            class="RecipeForm"
           type="button"
           value="add Recipe">
    </a>
</div>
