

<div class="container">
    <h1>Recipe {{ welcome_name }}!</h1>
    <h2>Am I authenticated? {{ request.user.is_authenticated }}</h2>

    <ul>
    {% for post in recipes %}
        <li>
        <a href="/post/{{ post.id }}/">{{ post.title }}</a>
        </li>
    {% endfor %}
    </ul>
{#    {% if request.user.is_staff %}#}
    <a href="/addauthor/"><input class="AuthorForm" type="button" value="add Author"></a>
{#    {% endif %}#}
    <a href="/addrecipe/"><input class="RecipeForm" type="button" value="add Recipe"></a>
    <a href="/login/"><input type="button" value="login"></a>
    <a href="/logout/"><input type="button" value="logout"></a>
    <a href="/signup/"><input type="button" value="signup"></a>
</div>
